.altWalmartBalanceBox {
  width: 500px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.altWalmartBalanceBox > .title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.altWalmartBalanceBox > .content {
  display: flex;
}

.altWalmartBalanceBox > .content:not(:last-child) {
  margin-bottom: 10px;
}

.altWalmartBalanceBox > .content > .label {
  font-size: 12px;
  color: #999;
  display: block;
}

.altWalmartBalanceBox > .content > .value {
  word-break: break-all;
  flex: 1;
  font-size: 12px;
}
